		<section class="b-features -paddingBlockStartNone -alignStart" style="--component-max-columns: 3">
            <div class="b-features__container">
               <ul class="b-features__items">
                  <li class="b-features_item">
                     <div class="o-feature">
                        <div class="o-feature__image">
                           <figure class="m-figure" style="--image-ratio: 3/2">
                              <div class="m-figure__image">
                                 <picture>
                                    <img alt="Retro computer corner" loading="lazy" decoding="async" src="../images/_DSC2571-1920.webp" width="1920" height="1080" srcset="../images/_DSC2571-400.webp 400w, ../images/_DSC2571-600.webp 600w, ../images/_DSC2571-900.webp 900w, ../images/_DSC2571-1400.webp 1400w, ../images/_DSC2571-1920.webp 1920w" sizes="100vw">
                                 </picture>
                                 <p class="m-figure__attribution">Fonte: Jaerder Sousa</p>
                              </div>
                           </figure>
                        </div>
                        <h2 class="a-heading -h5">Retro Corner</h2>
                        <div class="o-feature__summary s-content -medium">
                           <p>Descobre o nosso Retro Corner, repleto de máquinas vintage onde podes aprender mais sobre
                              as máquinas que tiveste (ou nunca tiveste) quando eras mais pequeno. Ver demonstrações do
                              que elas são capazes, jogar alguns jogos e falar com pessoas que te conseguem ajudar a
                              restaurar e dar nova vida às tuas máquinas antigas.</p>
                        </div>
                     </div>
                  </li>
                  <li class="b-features_item">
                     <div class="o-feature">
                        <div class="o-feature__image">
                           <figure class="m-figure" style="--image-ratio: 3/2">
                              <div class="m-figure__image">
                                 <picture>
                                    <img alt="Shader Royale" loading="lazy" decoding="async" src="../images/_DSC2420-1920.webp" width="1920" height="1080" srcset="../images/_DSC2420-400.webp 400w, ../images/_DSC2420-600.webp 600w, ../images/_DSC2420-900.webp 900w, ../images/_DSC2420-1400.webp 1400w, ../images/_DSC2420-1920.webp 1920w" sizes="100vw">
                                 </picture>
                                 <p class="m-figure__attribution">Fonte: Jaerder Sousa</p>
                              </div>
                           </figure>
                        </div>
                        <h3 class="a-heading -h5">Shader Royale</h3>
                        <div class="o-feature__summary s-content -medium">
                           <p>Assiste ao vivo o evento de programação de shaders com o record do mundo do maior número
                              de
                              participantes remotos em programação gráfica simultânea, organizado pelo quarto ano
                              consecutivo na Inércia.</p>
                        </div>
                     </div>
                  </li>
                  <li class="b-features_item">
                     <div class="o-feature">
                        <div class="o-feature__image">
                           <figure class="m-figure" style="--image-ratio: 3/2">
                              <div class="m-figure__image">
                                 <picture>
                                    <img alt="Seminar Talks" loading="lazy" decoding="async" src="../images/_DSC2500-1920.webp" width="1920" height="1080" srcset="../images/_DSC2500-400.webp 400w, ../images/_DSC2500-600.webp 600w, ../images/_DSC2500-900.webp 900w, ../images/_DSC2500-1400.webp 1400w, ../images/_DSC2500-1920.webp 1920w" sizes="100vw">
                                 </picture>
                                 <p class="m-figure__attribution">Fonte: Jaerder Sousa</p>
                              </div>
                           </figure>
                        </div>
                        <h3 class="a-heading -h5">Seminários</h3>
                        <div class="o-feature__summary s-content -medium">
                           <p>Participa nas diversas apresentações, mesas redondas e workshops que estamos a organizar
                              durante o evento. Cobrindo uma diversidade de tópicos ligados à demoscene, movimento
                              maker, fabricação digital e os vários tipos de arte digital.</p>
                        </div>
                     </div>
                  </li>
               </ul>
            </div>
         </section>